    #wall .tag-1 {
    display: none;
    }
    .gorgias-loaded #wall #tag-2 {
      display: none;
    }
    div#wall div#tag-3.slick, .wicked{
  display: none;
}
#wall .parent #tag-4 {
  display: none;
}
body.gorgias-loaded div#wall .parent #tag-5.slick{
  display:none;
}
    /* write your override styles here */